{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{%
  set classes = [
    'search-form',
    'search-block-form',
  ]
%}
<form{{ attributes.addClass(classes) }}>
    <div class="search-form-icon search-icon">
        <img class="size-6 cursor-pointer" src="data:image/svg+xml,%3csvg%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M23.6012%2021.7284L17.7153%2015.8354C20.6747%2011.9836%2020.3787%206.41976%2016.8275%202.89712C14.8874%200.954706%2012.3884%200%209.85646%200C7.32458%200%204.82547%200.954761%202.88542%202.89712C-0.961806%206.74898%20-0.961806%2013.0041%202.88542%2016.856C4.8255%2018.7984%207.32452%2019.7531%209.85646%2019.7531C11.9609%2019.7531%2014.0654%2019.0947%2015.8081%2017.7449L21.727%2023.605C21.9901%2023.8684%2022.3189%2024%2022.6806%2024C23.0094%2024%2023.3711%2023.8683%2023.6342%2023.605C24.1273%2023.1112%2024.1273%2022.2551%2023.6012%2021.7284ZM9.88928%2017.0864C7.9492%2017.0864%206.17359%2016.3292%204.79253%2014.9794C1.99754%2012.1811%201.99754%207.60492%204.79253%204.77364C6.14068%203.42387%207.94923%202.66661%209.88928%202.66661C11.8294%202.66661%2013.605%203.42387%2014.986%204.77364C16.367%206.12341%2017.0905%207.93414%2017.0905%209.87653C17.0905%2011.8189%2016.3342%2013.5967%2014.986%2014.9794C13.6378%2016.3622%2011.7965%2017.0864%209.88928%2017.0864Z'%20fill='%23A4A7AE'/%3e%3c/svg%3e" alt="Search">
    </div>
    <div class="search-form-icon close-icon">
        <svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><rect x="0" fill="none" width="24" height="24"/><g><path d="M18.36 19.78L12 13.41l-6.36 6.37-1.42-1.42L10.59 12 4.22 5.64l1.42-1.42L12 10.59l6.36-6.36 1.41 1.41L13.41 12l6.36 6.36z"/></g></svg>
    </div>
  {{ children }}
</form>
