{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{%
  set classes = [
    'search-form',
    'search-block-form',
    'space-y-2.5'
  ]
%}
<div class="container mx-auto login-form-wrapper pt-12 md:pt-10 ">
    <form{{ attributes.addClass(classes) }}>
      {{ children }}
    </form>
</div>